* {
  margin: 0;
  padding: 0[];
}

div {
  /* Prevent user selecting text when double clicking */
  -webkit-user-select: none;
  user-select: none;
}

.app div {
  color: #000;
  color: rgba(0,0,0,0.8);
  font: bold 14px/18px "Helvetica Neue";
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  border-left: solid 7px rgba(0,0,0,0.2);
  -webkit-transition: opacity 0.4s;
  padding-left: 7px;
  max-width: 285px;
}

.app .artist,
.app .album,
.app .time {
  text-transform: uppercase;
  font-size: 10px;
  line-height: 10px;
  padding-top: 5px;
}

.app .album,
.app .time {
  opacity: 0;
}

.app.full .album,
.app.full .time {
  opacity: 1;
}
